<br><small>Created by <%= @toponyme.user.email %></small>
<div id='toponyme'>
<h2><%= @toponyme.toponyme_actuel %></h2>
<%= simple_format(@toponyme.variante_graphique) %>
<%= simple_format(@toponyme.prononciation_locale) %>
<%= simple_format(@toponyme.emploi_contexte) %>
<%= simple_format(@toponyme.ethymologie_proposee) %>
</div>
<%= link_to "Delete Toponyme", [@enqueteur, @toponyme], :method => :delete,
:confirm => "Are you sure you want to delete this toponyme?" %>